#cartWrapper{
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding: 125px;
    background-color: #fffdfa;
    gap: 100px;
    color:#3f3f46;
}

#cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.bookInCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    height: 150px;
    padding: 25px;
    background-color: #f8fafc;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.cartBookImage{
    width: auto;
    height: 100px;
}

.titleAndAuthor{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.titleCart{
    font-size: 1.3rem;
}

.authorCart{
    font-size: 0.8rem;
}

.priceBlock{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.priceForOne{
    font-size: 0.8rem;
}

.inputBlock{
    display: flex;
    gap: 5px;
    align-items: center;
}

.cartInputButton{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #818cf8;
    background-color: white;
    color: #3f3f46;
    font-size: 1.2rem;
}

.cartInputButton:hover{
    border: 2px solid #818cf8;
    cursor: pointer;
}

#removeAllButton, #payButton{
    height: 25px;
    width: 100px;
    background-color: #f87171;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

#payButton{
    background-color: #4ade80;
    height: 50px;
    width: 175px;
    font-size: 1.3rem;
}

#removeAllButton:hover, #payButton:hover{
    cursor: pointer;
    background-color: #ef4444;
}

#payButton:hover{
    background-color: #22c55e;
}

.deleteImage{
    width: 25px;
    height: auto;
    filter: invert(23%) sepia(2%) saturate(2372%) hue-rotate(202deg) brightness(89%) contrast(84%);
}

.deleteImage:hover{
    cursor: pointer;
    filter: invert(35%) sepia(56%) saturate(2562%) hue-rotate(226deg) brightness(99%) contrast(91%);
}

#payment{
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 200px;
    background-color: #f8fafc;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

#totalPriceText{
    font-size: 1.3rem;
}

#totalPrice{
    font-size: 1.7rem;
}

#emptyCartInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    gap:50px;
}

#emptyCartText{
    font-size: 2rem;
    color:#3f3f46;
}

#cartToShop{
    padding: 15px 35px;
    background-color: #818cf8;
    border-radius: 10px;
    font-size: 2rem;
    color: white;
}

#cartToShop:hover{
    background-color: #6366f1;
    color: white;
}