#cartWrapper{
    padding: 75px;
}

.bookInCart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 150px;

}

.cartBookImage{
    width: 100px;
    height: auto;
}