#errorWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #3f3f46;
    flex: 1;
}

#errorNumber{
    font-size: 10rem;
}

#errorMessage{
    font-size: 1.5rem;
}

#errorToHome{
    padding: 10px 25px;
    background-color: #818cf8;
    border-radius: 10px;
    font-size: 1.2rem;
    color: white;
}

#errorToHome:hover{
    background-color: #6366f1;
    color: white;
}