nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #818cf8;
    padding: 0px 200px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: sticky;
    top:0px;
    z-index: 1;
}

ul#headerLinks{
    display: flex;
    gap: 100px;
    list-style-type: none;
}

#cartLink{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#cartItemsNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 3px 5px;
    border-radius: 10px;
    color:#8b5cf6;
    font-size: 1rem;
}

#cartIcon{
    width: 40px;
    height: auto;
}

a {
    font-size: 1.5rem;
    font-weight: bold;
}

a:link { text-decoration: none; }

a:visited { 
    text-decoration: none; 
    color: inherit;
}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

#searchAndButton{
    display: flex;
    align-items: center;
}

#headerSearch{
    appearance: none;
    width: 350px;
    height: 30px;
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    padding: 0px 10px;
    color: #3f3f46;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

#headerSearch:focus{
    outline: none;
}

#searchButton{
    height: 30px;
    width: 40px;
    border: 0px;
    border-left: 1px solid #a1a1aa;
    border-radius: 0px 15px 15px 0px;
    background-color: white;
}

#searchButton:hover{
    cursor: pointer;
}

#searchIcon{
    width: 15px;
    height: auto;
    filter: invert(22%) sepia(2%) saturate(2529%) hue-rotate(202deg) brightness(89%) contrast(83%);
}