#bookShop{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.bookCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 350px;
}

.bookInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopBookImage{
    width: 150px;
    height: auto;
}