#bookShop{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}

.bookInShop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 350px;
}

.bookInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopBookImage{
    width: auto;
    height: 200px;
}

.inputWrapper{
    display: flex;
    align-items: center;
    gap: 5px;
}

input.bookInShop{
    width: 25px;
    height: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputButtons{
    display: flex;
    flex-direction: column;
}